@charset "UTF-8";

.rental_box {
    position: relative;
}
.map_marker_data_info {
    position: relative;
    width: 25%;
    height: 100vh;
    background-color: #fff;
    color: #000;
    padding: 16px;
    z-index: 10000;
    box-sizing: border-box;
}
.map_marker_data_info h3{
    padding: 15px 0;
    background-color: var(--color-blue);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border-radius: 10px;
    text-align: center;
    color: var(--color-white);
}

.map_marker_data_info .map_marker_data_info_img{
    width: 100%;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border-radius: 10px;
}
.map_marker_data_info .map_marker_data_info_list li {
    padding: 20px 0;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.map_marker_data_info .map_marker_data_info_list li:first-child {
    display: flex;
    justify-content: space-between;
}
.map_marker_data_info .map_marker_data_info_list li:first-child span:first-child {
    padding-left: 50px;
}
.map_marker_data_info .map_marker_data_info_list li:first-child span:last-child {
    padding-right: 50px;
}

.map_marker_data_info .map_marker_data_info_list li:nth-child(2){
    display: flex;
    justify-content: space-between;
}
.map_marker_data_info .map_marker_data_info_list li:nth-child(2) span{
    display: inline-block;
}
.map_marker_data_info .map_marker_data_info_list li:nth-child(2) span:first-child {
    padding-left: 50px;
}
.map_marker_data_info .map_marker_data_info_list li:nth-child(2) span:last-child {
    padding-right: 50px;
}
.map_marker_data_info .map_marker_data_info_list li:last-child {
    padding-left: 50px;
}

.map_marker_data_info form button {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 20px;
    background-color: var(--color-blue);
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: var(--color-white);
    transition: all 0.3s ease-in-out;
}
.map_marker_data_info form button:hover {
    color: var(--color-blue);
    background-color: var(--color-white);
}

.map_marker_data_info .bike_rental_payment_info {
    width: 100%;
    height: 100vh;
    padding: 15px;
    position: absolute;
    top: 0; left: 100%;
    border: 1px solid #000;
}